threads/bochsout.txt
threads/bochsrc.txt
threads/build/

userprog/bochsout.txt
userprog/bochsrc.txt
userprog/build/

vm/bochsout.txt
vm/bochsrc.txt
vm/build/

filesys/bochsout.txt
filesys/bochsrc.txt
filesys/build/

bochs/
examples/
misc/
tests/
utils/
.DS_Store
